.footer-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  color: var(--blanco);
}

.footer-contenido h4 {
  color: var(--colorSecundario);
  font-size: 5rem;
  margin-bottom: 0;
}

.footer-1 h4 {
  margin: 0 !important;
}
.footer-1 p {
  margin-bottom: 0 !important;
}
.footer-4 button i {
  background-color: var(--colorSecundario);
  color: var(--colorPrimario);
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer-4 a i {
  background-color: var(--colorSecundario);
  color: var(--colorPrimario);
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer-4 a i:hover {
  color: var(--blanco);
}
@media (min-width: 768px) {
  .footer-contenido {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }
  .footer-1 {
    width: 22%;
  }
  .footer-1 p {
    width: 95%;
  }
  .footer-2 {
    width: 25%;
  }
  .footer-3 {
    width: 28%;
  }
  .footer-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    font-size: 10rem;
  }
  .footer-4 a i {
    font-size: 3rem;
  }
  .footer-contenido h4 {
    font-size: 4rem;
  }
}

.footer-1 h4,
.footer-2 h4,
.footer-3 h4,
.footer-4 h4 {
  margin: 0 !important;
}
